@font-face {
  font-family: 'Digital-7';
  src: url('digital-7.ttf') format('truetype');
}

@font-face {
  font-family: 'PricedownBL';
  src: url('pricedownbl.otf') format('opentype');
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #adb5bd;
  color: #373b41;
}

header {
  text-align: center;
  margin-bottom: 20px;
  color: #28664B;
  font-family: 'PricedownBL', sans-serif; /* Apply 'PricedownBL' font to header */
  letter-spacing: 2px;
  font-size: 24px; /* Editable font size */
}

#countdown-title {
  font-family: 'PricedownBL', sans-serif; /* Apply 'PricedownBL' font to countdown title */
  font-size: 25px; /* Editable font size */
  color: #ffc107;
  margin-bottom: 10px;
  background-color: #373b41;
  padding: 5px 10px;
  border-radius: 8px;
  letter-spacing: 2px;
}

#countdown-timer {
  font-family: 'Digital-7', sans-serif;
  font-size: 24px; /* Editable font size */
  color: #d9534f;
  margin-bottom: 20px;
}

#meal-container {
  text-align: center;
  padding: 20px;
  background-color: #495057;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px; /* Editable font size */
  cursor: pointer;
  border: 2px solid #d9534f;
  border-radius: 8px;
  background-color: #d9534f;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease,
    box-shadow 0.3s ease;
  width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), inset 0 0 5px rgba(255, 255, 255, 0.5);
}

button:disabled {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #b0b0b0;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #c9302c;
  border-color: #c9302c;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), inset 0 0 3px rgba(255, 255, 255, 0.5);
}

p {
  font-size: 18px; /* Editable font size */
  margin: 10px 0;
  color: #ffc107;
}

.generate-button {
  margin-top: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-row {
  display: flex;
  margin-top: 10px;
}
