/* Font Definitions */
@font-face {
  font-family: 'Digital-7';
  src: url('digital-7.ttf') format('truetype');
}

@font-face {
  font-family: 'PricedownBL';
  src: url('pricedownbl.otf') format('opentype');
}

/* Body Styles */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #373B41; /* Set background color of the page to #373B41 */
  color: #fff; /* Set text color to white */
}

/* Header Styles */
header {
  text-align: center;
  margin-bottom: 20px;
  color: #e5cd0b; /* Change header color to #e5cd0b for "What we gonna eat?" */
  font-family: 'PricedownBL', sans-serif;
  letter-spacing: 2px;
  font-size: 24px; /* Editable font size */
}

/* Countdown Timer Styles */
#countdown-title {
  font-family: 'PricedownBL', sans-serif;
  font-size: 25px; /* Editable font size */
  color: #e3cb0e; /* Change color for "Days Until GTA VI" */
  margin-bottom: 10px;
  background-color: #373b41; /* Change background color for countdown title to #373b41 */
  padding: 5px 10px;
  border-radius: 8px;
  letter-spacing: 2px;
}

#countdown-timer {
  font-family: 'Digital-7', sans-serif;
  font-size: 24px; /* Editable font size */
  color: #d9534f;
  margin-bottom: 20px;
}

/* Meal Container Styles */
#meal-container {
  font-family: Consolas, Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #495057;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

/* Button Styles */
button {
  padding: 10px 20px;
  margin: 0 10px;
  font-family: Consolas, Arial, sans-serif; /* Change font to Consolas, Arial, sans-serif */
  font-size: 16px; /* Editable font size */
  cursor: pointer;
  border: 2px solid #d9534f; /* Set border color */
  border-radius: 8px;
  background-color: #d9534f; /* Set background color */
  color: #fff; /* Set text color to white */
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease,
    box-shadow 0.3s ease;
  width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), inset 0 0 5px rgba(255, 255, 255, 0.5);
}

button:disabled {
  background-color: #6c757d; /* Set disabled background color */
  border-color: #6c757d; /* Set disabled border color */
  color: #b0b0b0; /* Set disabled text color */
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #c9302c; /* Set hover background color */
  border-color: #c9302c; /* Set hover border color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), inset 0 0 3px rgba(255, 255, 255, 0.5);
}

/* Paragraph Styles */
p {
  font-size: 18px; /* Editable font size */
  margin: 10px 0;
  color: #ffc107;
}

/* Generate Button Styles */
.generate-button {
  margin-top: 20px;
}

/* Button Container Styles */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Button Row Styles */
.button-row {
  display: flex;
  margin-top: 10px;
}

/* Burger Menu Styles */
.burger {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
  background-color: transparent !important; /* Ensure transparency with !important */
  border: #373B41;
  outline: none;
  box-shadow: none;
  padding: 0;
  transition: left 0.3s ease;
}

.burger div {
  width: 30px;
  height: 4px;
  border: none;
  background-color: #e5cd0b;
  transition: all 0.3s ease;
}

.burger.active div:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.burger.active div:nth-child(2) {
  opacity: 0;
}

.burger.active div:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

/* Navigation Styles */
#menu {
  position: fixed;
  top: 0;
  left: -220px; /* Hide the menu off-screen */
  width: 220px;
  height: 100vh;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px;
  transition: left 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 4;
}

#menu.show {
  left: 0; /* Show the menu */
}

#menu a {
  color: #e5cd0b;
  text-decoration: none;
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 8px;
  transition: background-color 0.3s;
}
